* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(201, 218, 218);
}
header {
  height: 10rem;
  background-color: rgb(201, 218, 218);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
}
header img {
  height: 9rem;
  width: 9rem;
}
header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}
