* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(201, 218, 218);
}
header {
  height: 6rem;
  background-color: rgb(201, 218, 218);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
  margin-right: 6rem;
  max-width: 1400px;
}
header img {
  height: 9rem;
  width: 9rem;
}
header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.first-section {
  background-color: salmon;
  height: 25rem;
  margin-left: 6rem;
  margin-right: 6rem;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section img {
  height: 9rem;
  width: 9rem;
  margin-top: 2rem;
}
.first-section p {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.first-section button {
  width: 150px;
  height: 60px;
  font-weight: 700;
  margin-top: 2rem;
}
.second-section {
  height: 30rem;
  margin-left: 6rem;
  margin-right: 6rem;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-section h1 {
  margin-top: 2rem;
}
.second-section img {
  flex: 1;
  width: 100%;
  min-width: 0;
  height: 400px;
  margin-top: 2rem;
}
footer {
  height: 6rem;
  background-color: rgb(201, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  max-width: 1400px;
}
footer nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
footer nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}
